html,
body {
  margin: 0;
  padding: 0;
}
p,
div {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("@/assets/bg.png"); /* 设置图标的图片路径 */
  background-size: cover; /* 背景图片覆盖整个元素区域 */
  background-position: initial; /* 背景图片居中显示 */
  background-repeat: no-repeat; /* 背景图片不重复 */
}